.box1{
    width: 25%;
    background-color: #7EE5DA;
    padding: 10px;
    float: left;
    margin-left: 10%;
    margin-top: 5px;
}

.box2{
    width: 17%;
    background-color: #70CCC2;
    padding: 7px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.box3{
    width: 30%;
    background-color: #62B3AA;
    padding: 1px;
    float: left;
    margin-top: 5px;
    margin-right: 10%;
}
.clear{
    clear: both;
}
.font{
text-align: center;
}
.font1{
    font-size: 12px;
}
